<h2>Ninjs Listing</h2>
<form id="filter">
  <label>Filter ninjas by name:</label>
  <input type="text" [(ngModel)]="term" name="term">
</form>
<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | app_filter:term">
    <div class="single-ninja">
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <h3>{{ninja.name}}</h3>
      <div (click)="remove($event)" [attr.data-name]="ninja.name">delete</div>
    </div>
  </li>
</ul>
<form id="add-ninja">
  <input type="text" [(ngModel)]="name" name="name">
  <input type="text" [(ngModel)]="belt" name="belt">
  <button (click)="fbPostData(name, belt)">Add ninja</button>
</form>
