<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/directory" routerLinkActive="active">Directory</a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <router-outlet></router-outlet>
</section>
